button {
  border-radius: 5px;
  border: none;
  background-color: green;
  color: beige;
  width: 90px;
  height: 30px;
}

.heading {
  text-align: center;
}
.heading > p {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}
.heading > h1 {
  color: brown;
  font-size: 35px;
}

.bdy1 {
  width: 50%;
  height: 50%;
}

.bdy1 > a > button {
  border-radius: 5px;
  border: none;
  background-color: brown;
  color: beige;
  width: 90px;
  height: 30px;
}

.bdy {
  display: flex;

  flex-direction: row;
}

/* body1 */
.bdy1 > img {
  width: 400px;
  height: 400px;
  margin-left: 2%;
}
.bdy1 > h1 {
  color: brown;
}
.bdy1 > p {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* body2 */

.bdy2 {
  width: 48%;
  height: 50%;
  margin-left: 3%;
}

.bdy2 > a > button {
  border-radius: 5px;
  border: none;
  background-color: brown;
  color: beige;
  width: 90px;
  height: 30px;
}
.bdy2 > img {
  width: 291px;
  height: 400px;
  margin-right: 2%;
}
.bdy2 > h1 {
  color: brown;
}
.bdy2 > p {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}